---
import Section from "./Section.astro";
import RoundedBox from "./RoundedBox.astro";
import BoxRow from "./BoxRow.astro";

const accomplishments = [
  {
    title: "Layout and Display",
    description:
      "A design and assembly workflow that allows non-technical teams to publish and design pages that adhere to design standards with minimal design or engineering resources",
    link: "/work/layout",
    target: "_self",
  },
  {
    title: "Quality Reports",
    description:
      "Modernized a legacy React dashboard by first separating pipeline data from embedded styles and layout, then replaced class-based components written in Javascript to function components and hooks using Typescript",
  },
  {
    title: "Discovery Hub",
    description:
      "Using React to compose SVG, built an interactive visualization for users to explore datasets of human and mouse tumor samples",
    link: "https://www.10xgenomics.com/research-areas/cancer/visium-discovery-hub",
    target: "_blank",
  },
];
---

<style>
  p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0;
  }
  a {
    font-size: 1rem;
  }
</style>

<Section title="Recent accomplishments">
  <BoxRow>
    {
      accomplishments.map((accomplishment) => (
        <RoundedBox>
          <h3>{accomplishment.title}</h3>
          <p>{accomplishment.description}</p>
          {accomplishment.link && (
            <a href={accomplishment.link} target={accomplishment.target}>
              Read more &#8594;
            </a>
          )}
        </RoundedBox>
      ))
    }
  </BoxRow>
</Section>
