<style>
  p {
    font-size: 1.5rem;
    line-height: 1.4;
    font-style: italic;
    margin: 0;
  }
</style>
<section>
  <blockquote>
    <p>
      As a Creative Technologist I am most effective when working at the
      intersection between web development, marketing, and design turning ideas
      into functional, user-friendly digital experiences. I focus on creating
      accessible, scalable design systems, optimizing interfaces and
      interactions, as well as ensuring seamless collaboration between content,
      design, and engineering teams.
    </p>
  </blockquote>
</section>
