---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👋 Hello world</h1>
      <p>November 29, 2024</p>
      <p>
        Hello, Jesse here. I've wanted to add a sliver of content to the
        internet for way too long. Of all the projects in my life that get
        squeezed aside this one often reappears which signals to me that I
        should finally do it. I've made websites for a long time, but always for
        someone else. The notion that everyone should have their own piece of
        digital land to garden and curate resonates with me, especially since
        social media and the internet in general is so :: gestures broadly ::
        these days. It's not the settling on a design or assembling parts that's
        difficult, although I will deliberate way too long over those decisions,
        it's the coming up with ideas to post that's failure to launch. Creative
        thoughts are always chaperoned by commentary of who cares what you have
        to say, and you're not a topic expert so you have no right to be
        publishing. Start with equal parts low self esteem and imposter
        syndrome, add a generous serving of perfectionism with warm
        procrastination, mix well, wait forever, and you will have nothing with
        a side of regret.
      </p>
      <p>This is now a self-help blog.</p>
      <p>
        So I've decided to take a completely different approach this time.
        Rather than start the process by making grids of rectangles in Figma,
        looking at hundreds of fonts but never choosing one, or agonizing over
        an arms folded or not folded profile photo, I'm going to MVP this badboy
        with all the emphasis on M. Besides, what could be better than a jargony
        acronym to lend credibility right out of the gate. The plan is to start
        with nothing (ok, easy), write about this nothing (yes, doing that now),
        find cool web thing of interest, add said cool thing to site, write
        about it, and so on. Here's an opportunity to research and implement
        newer topics like container queries, css color, view transitions, dialog
        api, or one of many that I don't understand well either. In time larger
        projects like data visualizations, a ThreeJS scene, or a design system
        component methodology. There will be non-web writings as well—music,
        cooking, fighting creeping fascism, dogs, stuff like that. Who knows,
        someone could find one of these topics useful or maybe I happen to
        explain an idea in such a way that clicks for them. And hey, at least
        it's not AI.
      </p>
      <p>
        Part of me wants to build this site by hand writing HTML and link a
        single CSS file just to see how far I can get. I ended up going with
        <a href="https://astro.build/">Astro</a> because I'm a little familiar with
        it plus it allows for use of React (which I know), Svelte (which I want to
        learn), as well as Astro's own components (which I like). It's the right
        size and level of complexity for what I need, plus it's easy to deploy. Speaking
        of, I'm using <a href="https://www.netlify.com/">Netlify</a>'s free plan
        for hosting which watches the site's repo on Github for changes,
        redeploying automatically. I'm not at all confident when it comes to
        this part of the web flow but if I can figure out how get this site from
        localhost to www, you can also.
      </p>
      <p>
        So that's about it. We all know that perfect is the enemy of good and I
        think this here is absolutely good enough.
      </p>
      <h3>Links</h3>
      <p>
        I have a bad habit of opening a link to an article in a new tab only to
        leave it there for days or weeks before getting around to reading it. I
        happened to have open the relatable article <a
          href="https://medienbaecker.com/articles/finally-owning-my-web"
          >Finally Owning My Web</a
        > by Thomas Günther which offered a similar take on this concept as well
        as links to other pertinent sources including Matthias Ott's newsletter <a
          href="https://buttondown.com/ownyourweb">Own Your Web</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
